/* home_style.css */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('streamlit/assets/images/title copy.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px); 
    z-index: -1; 
}
.content-box {
    position: relative;
    background-color: rgba(255, 255, 255, 0.85); /* Fond semi-transparent pour contraste */
    padding: 20px;
    border-radius: 10px;
    z-index: 1; 
}