h1, h2, h3 {
    text-align: center;
}

.subheader {
    font-weight: bold;
    font-size: 20px;
}

.uploaded-file {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}